
<% content_for :title, "Orders" %>


<!-- Page Header -->
<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
        <h1 class="page-heading animated zoomIn">
            Order <small>All Orders Data.</small>
        </h1>
    </div>
      <div class="col-sm-5 text-right hidden-xs">
        <ol class="breadcrumb push-10-t">
          <li>Dashbord</li>
          <li><a class="link-effect" href="">Order</a></li>
        </ol>
      </div>
  </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content">
  <!-- Dynamic Table Simple -->
  <div class="block">
    <div class="block-header">
      <ul class="block-options">
          <li>
              <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
          </li>
          <li>
              <button type="button" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
          </li>
      </ul>
      <h3 class="block-title">Order <small>Records</small></h3>
    </div>
      <div class="block-content table-responsive">
        <table class="table table-striped js-dataTable-full-pagination">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Assign To</th>
              <th>Amount</th>
              <th>Due</th>
              <th>Delivery Date</th>
              <th>Order Status</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead> 
          <tbody>
            <% @orders.each do |order|  %>
              <tr>
                <td>O-<%= order.id %></td>
                <td data-toggle="popover" title="Details" data-content="<%= order.order_details %>" data-placement="top"><%= order.customer.customer_name %></td>
                <td><%= order.customer.customer_phone %></td>
                <td><%= order.customer.customer_address %></td>
                <td><%= order.staff.staff_name %></td>
                <td data-toggle="popover" title="Paid" data-content="<%= order.order_paid %>" data-placement="top"><%= order.order_amount %></td>
                <td><%= order.order_amount - order.order_paid %></td>
                <td><%= order.delivery_date %></td>
                <% if order.order_status == 'Confirm'  %>
                    <td class="text-center"><span class="label label-default"> <%= order.order_status %></span></td>
                <% elsif order.order_status == 'Processing' %>
                    <td class="text-center"><span class="label label-warning"> <%= order.order_status %></span></td>
                <% elsif order.order_status == 'Ready' %>
                    <td class="text-center"><span class="label label-success"> <%= order.order_status %></span></td>
                <% elsif order.order_status == 'Delivered' %>
                    <td class="text-center"><span class="label label-primary"> <%= order.order_status %></span></td>    
                <% end %>
                <td class="text-center">
                    <div class="btn-group">
                        <%= link_to order_path(order.id), :class=>'btn btn-xs btn-default' do %>
                            <i class="fa fa-print"></i>
                        <% end %>
                        <%= link_to edit_order_path(order.id), :class=>'btn btn-xs btn-default' do %>
                            <i class="fa fa-pencil"></i>
                        <% end %>   
                        <%= link_to order_path(order.id), :class=>'btn btn-xs btn-default', method: :delete, data: {confirm: 'Are you sure?'} do %>
                            <i class="fa fa-trash-o"></i>
                        <% end %> 
                    </div>
                </td>    
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div> 
</div>
<!-- END Page Content -->

