<% content_for :title, "Print Order" %>

<!-- Page Header -->
<!-- You can use the .hidden-print class to hide an element in printing -->
<div class="content bg-gray-lighter hidden-print">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading animated zoomIn">
                Invoice <small>Print Order Invoice.</small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Generic</li>
                <li><a class="link-effect" href="">Invoice</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content content-boxed">
    <!-- Invoice -->
    <div class="block">
        <div class="block-header">
            <ul class="block-options">
                <li>
                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                </li>
                <li>
                    <!-- Print Page functionality is initialized in App() -> uiHelperPrint() -->
                    <button type="button" onclick="App.initHelper('print-page');"><i class="si si-printer"></i> Print Invoice</button>
                </li>
            </ul>
        </div>
        <div class="block-content block-content-narrow">
            <!-- Company Info -->
            <div class="row">
                <!-- Company Info -->
                <div class="col-xs-6">
                    <p class="h2 font-w400 push-5" style="margin-bottom: 20px !important">
                        Al-Azhar Enterprises
                    </p>
                </div>  
                <div class="col-xs-6 pull-right text-right">
                    <div class="h3 pull-right" style="margin-top: 10px !important">
                        INVOICE 
                        <h5>#INV-<%= @order.id %></h5>
                    </div>
                </div> 
            </div>      
            <!-- Invoice Info -->                            
            <hr style="margin-top: 0px;">
            <div class="row items-push-2x">
                <!-- Company Info -->
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <p class="h5 push-5"><b>Customer Info</b></p>
                  <h5><%= @order.customer.customer_name %></h5>
                  <address>
                    <%= @order.customer.customer_address %><br>
                    <i class="si si-call-end"></i> <%= @order.customer.customer_phone %>
                  </address>                    
                </div>
                <!-- END Company Info -->

                <!-- Client Info -->
                <div class="col-xs-6 col-sm-4 col-sm-offset-4 col-lg-3 col-lg-offset-6 text-right">
                    <p class="h5 push-5"><b>Print Date</b><br> <%= DateTime.now.to_date %></p>
                    <p class="h5 push-5"><b>Delivery Date</b><br> <%= @order.delivery_date %></p>
                </div>
                <!-- END Client Info -->                                
            </div>
            <!-- END Invoice Info -->

            <!-- Table -->
            <div class="table-responsive push-50">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 50px;"></th>
                            <th>Particulars</th>
                            <th class="text-center" style="width: 120px;">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @order.measurements.each_with_index do |measurement, index| %>
                          <tr>
                            <td class="text-center"><%= (index + 1) %></td>
                            <td>
                              <p class="font-w600 push-10"><%= measurement.name %></p>
                            </td>
                            <% if index == 0 %>
                              <td rowspan= "<%= @order.measurements.count %>" class="text-center"> <%= @order.order_amount %></td>
                            <% end %>
                          </tr>  
                        <% end %>
                        <tr>
                            <td colspan="2" class="font-w600 text-right">Total</td>
                            <td class="text-center"> <%= @order.order_amount %> </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="font-w600 text-right">Advance</td>
                            <td class="text-center"> <%= @order.order_paid %></td>
                        </tr>
                        <tr class="active">
                            <td colspan="2" class="font-w700 text-uppercase text-right">Balance</td>
                            <td class="font-w700 text-center"> <%= (@order.order_amount - @order.order_paid) %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- END Table -->

            <!-- Footer -->
            <hr class="hidden-print">
            <p class="text-muted text-center"><small>Thank you very much for doing business with us. We look forward to working with you again!</small></p>
            <!-- END Footer -->
        </div>
    </div>
    <!-- END Invoice -->
</div>
<!-- END Page Content -->
