<% content_for :title, "Add Measurement" %>


                <!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading animated zoomIn">
                Add Measurement <small>Add Measurement Data.</small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Dashbord</li>
                <li><a class="link-effect" href="">Add Order</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content">
  <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="block-header">
            <ul class="block-options">
              <li>
                  <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
              </li>
              <li>
                  <button type="button" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
              </li>
            </ul>
            <h3 class="block-title">Measurement Form <small>Measurement by Inch</small></h3>
          </div>
          <div class="block-content block-content-narrow">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <%= form_for @measurement, :url => url_for(:controller => 'measurements', :action => 'update'), :html=>{:class=>'form-horizontal push-10-t'} do |f| %>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-xs-12" for="example-password-input">Name Of Measurement</label>
                            <div class="col-sm-12">                                            
                                <%= f.text_field :name, :class=>'form-control', :placeholder=>"Enter Name", :required=>''  %>                                                        
                            </div>
                        </div>
                      </div>
                    </div>
                    
                    <p class="title text-primary font-w600">Top Body :</p>
                    <div class="row">                      
                      <div class="col-md-6">                                             
                        <div class="form-group">
                            <label class="col-xs-12" for="example-password-input">Length</label>
                            <div class="col-sm-12">                                           
                                <%= f.text_field :top_length, :class=>'form-control', :placeholder=>"Enter Neck", :required=>''  %>                                                        
                            </div>
                        </div>
                      </div>                      
                      <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-xs-12" for="example-password-input">Chest</label>
                            <div class="col-sm-12">                                            
                                <%= f.text_field :chest, :class=>'form-control', :placeholder=>"Enter Sleeve", :required=>''  %>                                                        
                            </div>
                        </div>
                      </div>
                      <div class="col-md-6">                                             
                        <div class="form-group">
                          <label class="col-xs-12" for="example-password-input">H.front</label>
                          <div class="col-sm-12">                                            
                              <%= f.text_field :h_front, :class=>'form-control', :placeholder=>"Enter Bicep", :required=>''  %>                                        
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">                                             
                        <div class="form-group">
                          <label class="col-xs-12" for="example-password-input">Shoulder</label>
                          <div class="col-sm-12">                                           
                              <%= f.text_field :shoulder, :class=>'form-control', :placeholder=>"Enter Wrist", :required=>''  %>                                                       
                          </div>
                        </div>
                      </div> 
                      <div class="col-md-6">                                             
                        <div class="form-group">
                            <label class="col-xs-12" for="example-password-input">Sleeve</label>
                            <div class="col-sm-12">                                           
                                <%= f.text_field :sleeve, :class=>'form-control', :placeholder=>"Enter Length", :required=>''  %>                                                        
                            </div>
                        </div>
                      </div> 
                      <div class="col-md-6">                                             
                        <div class="form-group">
                            <label class="col-xs-12" for="example-password-input">Cuff</label>
                            <div class="col-sm-12">                                           
                                <%= f.text_field :cuff, :class=>'form-control', :placeholder=>"Enter Shoulder", :required=>''  %>                                                        
                            </div>
                        </div>
                      </div>
                      <div class="col-md-6">                                             
                        <div class="form-group">
                            <label class="col-xs-12" for="example-password-input">P2P</label>
                            <div class="col-sm-12">                                            
                                <%= f.text_field :p2p, :class=>'form-control', :placeholder=>"Enter Chest", :required=>''  %>                                                        
                            </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-xs-12" for="example-password-input">B.width</label>
                          <div class="col-sm-12">                                            
                              <%= f.text_field :b_width, :class=>'form-control', :placeholder=>"Enter Waist", :required=>''  %>                                                        
                          </div>
                        </div>
                      </div>                                          
                    </div>
                    <p class="title text-primary font-w600">Bottom Body :</p>    
                    <div class="row">
                      <div class="col-md-6">                                             
                        <div class="form-group">
                          <label class="col-xs-12" for="example-password-input">Bottom Length</label>
                          <div class="col-sm-12">                                            
                              <%= f.text_field :bottom_length, :class=>'form-control', :placeholder=>"Enter Thigh", :required=>''  %>                                                        
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">                                             
                        <div class="form-group">
                          <label class="col-xs-12" for="example-password-input">Waist</label>
                          <div class="col-sm-12">                                            
                              <%= f.text_field :waist, :class=>'form-control', :placeholder=>"Enter Crotch ", :required=>''  %>                                                        
                          </div>
                        </div>
                      </div> 
                      <div class="col-md-6">                                             
                        <div class="form-group">
                          <label class="col-xs-12" for="example-password-input">Hips</label>
                          <div class="col-sm-12">                                          
                            <%= f.text_field :hips, :class=>'form-control', :placeholder=>"Enter Ankles", :required=>''  %>
                              
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">                                             
                        <div class="form-group">
                          <label class="col-xs-12" for="example-password-input">Thighs</label>
                          <div class="col-sm-12">                                          
                            <%= f.text_field :thigh, :class=>'form-control', :placeholder=>"Enter Inseam ", :required=>''  %>                                                        
                          </div>
                        </div>
                      </div> 
                      <div class="col-md-6">                                             
                        <div class="form-group">
                          <label class="col-xs-12" for="example-password-input">Knee</label>
                          <div class="col-sm-12">
                            <%= f.text_field :knee, :class=>'form-control', :placeholder=>"Enter Outseam ", :required=>''  %>                                                        
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">                                             
                        <div class="form-group">
                          <label class="col-xs-12" for="example-password-input">Bottom</label>
                          <div class="col-sm-12">                                            
                              <%= f.text_field :bottom, :class=>'form-control', :placeholder=>"Enter Bottom", :required=>''  %> 
                          </div>
                        </div>
                      </div>
                    </div>                                     
                  <div class="form-group">
                    <div class="col-sm-12">
                      <%= f.submit :class=>'btn btn-sm btn-primary', :value=>'submit' %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>                 
          </div>
        </div>
      </div>
  </div>                
</div>
