<% content_for :title, "View Measurement" %>
                <!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading animated zoomIn">
              Measurement of <%= @measurement.name %> <small>for <%= @customer.customer_name %></small></h3>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Dashbord</li>
                <li><a class="link-effect" href="">Add Order</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content">
  <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="block-header">
            <ul class="block-options">
              <li>
                  <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
              </li>
              <li>
                  <button type="button" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
              </li>
            </ul>
            <h3 class="block-title">Measurements <small>by Inch</small></h3>
          </div>
          <div class="block-content block-content-narrow">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">                
                <div class = "form-horizontal push-10-t">
                  <p class="title text-primary font-w600">Top Body: </p>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                          <label class="col-xs-12"> Top Length</label>
                          <div class="col-sm-12">                                            
                            <%= @measurement.top_length %>
                          </div>
                      </div>                      
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                          <label class="col-xs-12">Chest</label>
                          <div class="col-sm-12">                                            
                            <%= @measurement.chest %>
                          </div>
                      </div>                      
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                          <label class="col-xs-12">H.front</label>
                          <div class="col-sm-12">                                            
                            <%= @measurement.h_front %>
                          </div>
                      </div>                      
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                          <label class="col-xs-12">Shoulder</label>
                          <div class="col-sm-12">                                            
                            <%= @measurement.shoulder %>
                          </div>
                      </div>                      
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                          <label class="col-xs-12">Sleeve</label>
                          <div class="col-sm-12">
                            <%= @measurement.chest %>
                          </div>
                      </div>                      
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-xs-12">Cuff</label>
                          <div class="col-sm-12">                                            
                            <%= @measurement.cuff %>
                          </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-xs-12">P2P</label>
                        <div class="col-sm-12">                                            
                          <%= @measurement.p2p %>                             
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-xs-12">B.width</label>
                        <div class="col-sm-12">                                            
                          <%= @measurement.b_width %>
                        </div>
                      </div>
                    </div>
                  </div>

                  <p class="title text-primary font-w600">Bottom Body: </p>    
                  <div class="row">
                    <div class="col-md-6">                                             
                      <div class="form-group">
                        <label class="col-xs-12">Bottom Length</label>
                        <div class="col-sm-12">                             
                          <%= @measurement.bottom_length %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">                                             
                      <div class="form-group">
                        <label class="col-xs-12">Waist</label>
                        <div class="col-sm-12">                                            
                          <%= @measurement.waist %>                               
                        </div>
                      </div>
                    </div> 
                    <div class="col-md-6">                                             
                      <div class="form-group">
                        <label class="col-xs-12">Hips</label>
                        <div class="col-sm-12">                                          
                          <%= @measurement.hips %>  
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">                                             
                      <div class="form-group">
                        <label class="col-xs-12">Thighs</label>
                        <div class="col-sm-12">                                          
                          <%= @measurement.thigh %>                               
                        </div>
                      </div>
                    </div> 
                    <div class="col-md-6">                                             
                      <div class="form-group">
                        <label class="col-xs-12">Knee</label>
                        <div class="col-sm-12">
                          <%= @measurement.knee %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">                                             
                      <div class="form-group">
                        <label class="col-xs-12">Bottom</label>
                        <div class="col-sm-12">
                          <%= @measurement.bottom %>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>    
            </div>                 
          </div>
        </div>
      </div>
  </div>                
</div>
