<% if user_signed_in? %>

<!DOCTYPE html>
<html class="no-focus" lang="en"> 
    <head>
        <meta charset="utf-8">

        <title><%= yield(:title) %> | E-Tailor Portal</title>

        <meta name="description" content="Tailor Management System">
        <meta name="author" content="Huzefa">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!-- Page JS Plugins CSS -->
		<%= csrf_meta_tags %>

    	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <!-- END Stylesheets -->

        <!-- Web fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
        <!-- Web icons -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    </head>
    <body>
        <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
            <!-- Sidebar -->
            <nav id="sidebar">
                <!-- Sidebar Scroll Container -->
                <div id="sidebar-scroll">
                    <!-- Sidebar Content -->
                    <div class="sidebar-content">
                        <!-- Side Header -->
                        <div class="side-header side-content bg-white-op">
                            <!-- <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                                <i class="fa fa-times"></i>
                            </button>                           -->
                            <a class="h5 text-white" href="">
                                <span class="h4 font-w600 sidebar-mini-hide text-primary" style="margin-left: 30px">E-Tailor Portal</span>
                            </a>
                        </div>
                        <!-- END Side Header -->

                        <!-- Side Content -->
                        <div class="side-content">
                            <ul class="nav-main">
                                <li>
                                    <%= link_to dashboards_path do %>
                                        <i class="si si-speedometer"></i><span class="sidebar-mini-hide">Dashboard</span>
                                    <% end %>
                                </li>
                                <li class="nav-main-heading"><span class="sidebar-mini-hide">Order Area</span></li>
                                <li>
                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-users"></i><span class="sidebar-mini-hide">CUSTOMER</span></a>
                                    <ul>
                                        <li>
                                            <%= link_to 'Add Customer', new_customer_path %>
                                        </li>
                                        <li>
                                            <%= link_to 'Customers List', customers_path %>
                                        </li>                                        
                                    </ul>
                                </li>
                                <li>
                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-basket"></i><span class="sidebar-mini-hide">ORDER</span></a>
                                    <ul>
                                        <li>
                                            <%= link_to 'Add Order', new_order_path %>
                                        </li>
                                        <li>
                                            <%= link_to 'Orders List', orders_path %>
                                        </li>                                        
                                    </ul>
                                </li>  
                                <li class="nav-main-heading"><span class="sidebar-mini-hide">Staff Area</span></li>
                                <li>
                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-user-female"></i><span class="sidebar-mini-hide">STAFF</span></a>
                                    <ul>
                                        <li>
                                            <%= link_to 'Add Staff', new_staff_path %>
                                        </li>
                                        <li>
                                            <%= link_to 'Staffs list', staffs_path %>
                                        </li>                                        
                                    </ul>
                                </li>   
                                <li>
                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-wallet"></i><span class="sidebar-mini-hide">SALARY</span></a>
                                    <ul>
                                        <li>
                                            <%= link_to 'Add Salary', new_salary_path %>
                                        </li>
                                        <li>
                                            <%= link_to 'Salaries List', salaries_path %>
                                        </li>                                        
                                    </ul>
                                </li> 
                                <li class="nav-main-heading"><span class="sidebar-mini-hide">Settings Area</span></li>   
                                <li>
                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-settings"></i><span class="sidebar-mini-hide">PROFILE</span></a>
                                    <ul>
                                        <li>
                                            <%= link_to "Change Password", edit_user_registration_path %>
                                        </li>
                                        <li>
                                            <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
                                        </li>                                        
                                    </ul>
                                </li>                         
                            </ul>
                        </div>
                        <!-- END Side Content -->
                    </div>
                    <!-- Sidebar Content -->
                </div>
                <!-- END Sidebar Scroll Container -->
            </nav>
            <!-- END Sidebar -->

            <!-- Header -->
            <header id="header-navbar" class="content-mini content-mini-full bg-primary">
                <!-- Header Navigation Right -->
                <ul class="nav-header pull-right">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default btn-image dropdown-toggle btn-primary" data-toggle="dropdown" type="button">
                            	<%= image_tag 'user.png', :width=>'10px' %> 
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                            	<li class="dropdown-header">Login as</li>
                                <li><a><%= current_user.email %></a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Profile</li>
                                <li>
                                    <%= link_to edit_user_registration_path do %>
                                        <i class="si si-lock pull-right"></i> Change Password
                                    <% end %>
                                </li>
                                <li>
                                    <%= link_to destroy_user_session_path, :method => :delete do %>
                                        <i class="si si-logout pull-right"></i>Log out
                                    <% end %>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!-- END Header Navigation Right -->

                <!-- Header Navigation Left -->
                <ul class="nav-header pull-left">
                    <li class="hidden-md hidden-lg">
                        <button class="btn btn-default btn-primary" data-toggle="layout" data-action="sidebar_toggle" type="button">
                            <i class="fa fa-navicon"></i>
                        </button>
                    </li>
                    <li class="hidden-xs hidden-sm">
                        <button class="btn btn-default btn-primary" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
                            <i class="fa fa-bars"></i>
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-default dropdown-toggle btn-primary" type="button" onclick="go_full_screen()">
                            <i class="fa fa-arrows-alt"></i>
                        </button>
                    </li>
                </ul>
                <!-- END Header Navigation Left -->
            </header>
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">              
                    
                <%= yield %>

            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            <footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">                
                <div class="pull-left">
                    <a class="font-w600" href="" target="_blank">E-Tailor Portal</a> &copy; <span><%= Time.current.year %></span>
                </div>
            </footer>
            <!-- END Footer -->

        </div>
        <!-- END Page Container -->

        <!-- Page JS Code -->
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <script type="text/javascript">
            $(document).ready(function() {
              $(".select_list").select2();
            });
        </script>

        <% if notice %>
            <script>
                $(document).ready(function() {
                    setTimeout(function() {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 40000
                        };
                        toastr.success('<%= notice %>', 'Success');
                    }, 1300);
                });
            </script>
        <% end %> 

        <% if alert %>
            <script>
                $(document).ready(function() {
                    setTimeout(function() {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 40000
                        };
                        toastr.danger('<%= alert %>', 'Error');
                    }, 1300);
                });
            </script>
        <% end %> 

        <script type="text/javascript">
			$(function(){
			    var current = location.pathname;
			    $('.nav-main li a').each(function(){
			        var $this = $(this);
			        // if the current path is like this link, make it active
			        if($this.attr('href').indexOf(current) !== -1){
			            $this.addClass('active');
			        }
			    })
			})
        </script>

    </body>
</html>

<% else %>

<!DOCTYPE html>
<html class="no-focus" lang="en"> 
    <head>
        <meta charset="utf-8">

        <title><%= yield(:title) %> | E-Tailor Portal </title>

        <meta name="description" content="Tailor Management System">
        <meta name="author" content = "Huzefa">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!-- Page JS Plugins CSS -->
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <!-- END Stylesheets -->

        <!-- Web fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
        <!-- Web icons -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    </head>


    <body class="page-login-v2 layout-full page-dark" style="height: auto">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


        <!-- Page -->
        <div class="page animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">
            <div class="page-content">
                <div class="page-brand-info">
                    <div class="brand">
                        <a class="h2" href="">
                            <span class="m-title">E-Tailor Portal</span>
                        </a>
                    </div>
                    <p class="font-size-20 dtext">One Stop Portal For All E-Tailor Services.</p>
                </div>
                <div class="page-login-main">
                    <div class="brand visible-xs">
                        <a class="h3 text-white" href="index.html">
                            <span class="m-title">E-Tailor Portal</span>
                        </a>
                    </div>

                    <% if notice %>
                        <div class="alert alert-info">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Notice!</strong> <%= notice %>
                        </div>
                    <% end %>

                    <% if alert %>
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Alert!</strong> <%= alert %>
                        </div>
                    <% end %>
                    
                    <%= yield %>                    
                </div>
            </div>
        </div>
        <!-- End Page -->

              <!-- Page JS Code -->
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <script type="text/javascript">
            $(document).ready(function() {
              $(".select_list").select2();
            });
        </script>

    </body>
</html>

<% end %>
